:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

.button {
    margin: 0.7rem 4rem;
    padding: 0.5rem 0.8rem;
    border-style: none;
    border-radius: 5px;
    display: block;

    &:hover {
        background-color: #483f3f;
        cursor: pointer;
    }
}

/*navigation*/
.nav-wrapper {
    background-color: #333;
    align-items: center;
    width: 100%;
    display: flex;

    .nav-container {
        align-items: center;
        width: 100%;
        display: flex;
        margin-left: 7rem;

        .nav-link {
            margin: 0.2rem;
            padding: 0.5rem 3rem;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.87);

            &:hover {
                background-color: #222;
            }
        }
    }

    .image {
        width: 40px;
        cursor: pointer;
    }
}

/*form*/

.main-form-wrapper {
    position: relative;
    align-items: center;
    padding: 1rem 0;
    margin: 8rem auto;
    width: 20rem;
    background-color: #b6aeaeca;
    color: #242424;
    .image {
        width: 80px;
    }

    .form-wrapper {
        margin: auto;
        width: fit-content;

        .form {
            padding: 10px 0;

            label {
                display: block;
                text-align: left;

                &:not(:first-child) {
                    margin-top: 1rem;
                }
            }

            input,
            textarea {
                width: 100%;
                padding: 5px;
                border-radius: 5px;
            }
        }
    }

    .sign-up,
    .login {
        text-decoration: none;
        color: #242424;
    }
}

/*Table*/
table {
    width: 100%;

    th,
    td {
        border: 1px solid white;
    }
}
