@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;

        color-scheme: light dark;
        background-color: #242424;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
    }

    body {
        margin: 0;
    }

    span {
        @apply text-red-900 text-sm;
    }

    input {
        @apply w-60 px-2 py-1 rounded text-neutral-200 bg-blackPearl-600;
    }

    h5 {
        @apply p-4 text-sm;
    }

    h1 {
        @apply w-full text-4xl p-4;
    }

    textarea {
        @apply w-full p-1 resize-none rounded text-neutral-200 bg-blackPearl-600;
    }

    th,
    td {
        @apply border-white border-2;
    }
}

@layer components {
    label {
        @apply block text-left;
    }

    .text-field {
        @apply h-20;
    }

    .card {
        @apply py-4 my-28 mx-auto w-fit flex bg-neutral-400 text-gray-950 rounded-lg;
    }

    button {
        @apply my-4 mx-auto py-1 px-5 rounded block bg-blackPearl-600 text-neutral-200 hover:bg-blackPearl-700;
    }
}

@layer utilities {
    #root {
        margin: 0 auto;
        padding: 2rem auto;
        text-align: center;
    }

    .label-m {
        @apply mt-2;
    }

    .button-m {
        @apply mx-16 bg-nightRider-400;
    }

    .nav-link {
        @apply py-2 px-12 decoration-0 text-neutral-200 hover:bg-nightRider-600;
    }
}
